* text=auto
*.py text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cs text eol=lf
*.jslib text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ps1 text eol=crlf
*.fbx binary
*.glb binary
*.png binary
*.meta text eol=lf whitespace=-blank-at-eol
*.unity text eol=lf whitespace=-blank-at-eol
*.prefab text eol=lf whitespace=-blank-at-eol
*.asset text eol=lf whitespace=-blank-at-eol
*.mat text eol=lf whitespace=-blank-at-eol
